<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Brew Tasting Tracker</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/"> || </a></li>
            <li><a href="/edit/{{beer.id}}">Edit</a></li>
            <li><a href="/delete/{{beer.id}}">Delete</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1><i class="fa fa-beer" aria-hidden="true"></i> Beer Profile</h1>
            <ul class="list-group">
              <li class="list-group-item">Name: {{beer.name}}</li>
              <li class="list-group-item">Type: {{beer.type}}</li>
              <li class="list-group-item">ABV: {{beer.abv}}</li>
              <li class="list-group-item">
                {{#if beer.consumed}}
                  You've tried this Beer
                {{else}}
                  <a href="/edit/{{beer.id}}">Try this Beer?</a>
                {{/if}}
              </li>
            </ul>
        </div>
        <div class="col-sm-1"></div>
    </div>
</main>
